body{
    background-color: #50424F;
}

.content{
  
    background-color: #50424F;
    
    padding: 10px 20px 20px 20px;
}


.ant-btn-primary {
    background-color: #00B3B4;
}
.ant-btn:hover {
     background-color: #217c72 !important; 
}


.ant-table{
    background-color: #50424F !important; 
} 

  .ant-table tbody > tr > td {
    color: white;
  }  

  .ant-table tbody > tr:hover > td {
    background-color: #615460 !important; 
    color: white !important;
  }

  .ant-table-thead > tr > th {
    background-color: #615460 !important; 
    color: white !important;
  }  

  .ant-pagination-item-link {
    color: white !important;
  }
  
  .custom-pagination-icon svg path {
    fill: white !important;
  }
  
  .custom-pagination-active {
    color: black !important;
  }


.deleteButton{
    background-color: #ff2600 !important; 
}
.deleteButton:hover{
    background-color: #470d03 !important; 
}

.editButton{
    background-color: #0688a8 !important; 
}
.editButton:hover{
    background-color: #02485a !important; 
}

/*Side bar Menu*/
.sidebar-menu{
    font-size: 18px;
}

.sidenav-menu-icons{
    padding-right: 15px;
}


/* Task */

.taskCard{
    width: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    margin: 10px 0px 20px 0px;
    background-color: #615460 !important; 
    border: none;
}

.taskCard .ant-card-body{
    padding-top: 1px; 
    padding-bottom: 5px; 
    
}
.taskCard .ant-card-head{
    margin-bottom: 1px; 

    border: none;
}
.taskTitle{
    font-size: large;
    color: white;
}


.viewCompletedTaskButton:hover{
    background-color: #00C9B0 !important; 
    color: white !important;  
}

.viewCompletedTaskButton{
    border: solid #00B3B4 !important;
    color: #00B3B4 !important;
}

.completeTaskButton:hover{
    background-color: #083d23 !important; 
}

.cardContent{
    padding-bottom: 7px; 
    
}

.taskDescription{
    margin-bottom: 10px;
    color: white !important;
}


/* Dashboard */

.welcomeHeading{
    font-size: x-large;
    color: white;
}

.subHeading{
    color: white;
}

/* Dashboard Calendar */

.dashboardCalendar  .ant-picker-body {
    background-color: #FADB14;

   
}

.dashboardCalendar{
    background-color: #FADB14;
    width: 300px !important;
    
}

.dashboardCalendar .ant-picker-content tr > th{
    color: 'black' !important;
    font-weight: bold;
}


.dashboardCalendar .ant-picker-panel{
    border: none !important;
}

.dashboardCalendar label {
    color: black!important;
}





.dashboardTaskCard .ant-card-body{
    padding-top: 1px; 
    padding-bottom: 25px; 
    
}

.financeSelect .ant-select-selector{
    background-color: #00B3B4 !important;
    color: white;
    border: none !important;
}

.financeSelect .ant-select-selector .ant-select-arrow {
    color: white !important;
  }

/*Finance*/

.dashboardCard{
    margin: 5px;
    margin-top: 10px;   
    width: 33.33%;
}

.dashboardCard .ant-card-body{
    padding-top: 0px; 
    padding-bottom: 0px; 
}

.dashboardCard .ant-card-head{
    padding-top: 0px; 
    padding-bottom: 0px; 
}



.financeNumbers{
    margin-top: 10px;
    margin-bottom: 25px;
    color: white;
    font-size: 30px;
}

/* Modal */

div.ant-modal-content {
    background-color: #50424F !important;
    color: white;
}

label{
    color: white !important;
}

.ant-modal-close {
    color: white !important;
}

/* SideBar */

.ant-menu-item:hover{
    background-color: #CC6DCA !important;
    color: white !important;
}

.ant-menu-item-selected{
    background-color: #CC6DCA !important;
    color: white !important;
}

.contentInnerCards{
    margin:5px;
}

.contentInnerCards .ant-card-body{
    padding: 0px;
}

.contentNumbers{
    margin-top: 1px;
    margin-bottom: 15px;
    font-size: 30px;
}

td.ant-table-column-sort {
    background-color: #615460 !important; 
    color: white !important;
}

/* Login */

.login{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
 }

 .loginRegisterLink{
    display: flex; 
    justify-content: center;
    width: 100vh;
 }



 .loginCard{
    background-color: #615460;
    padding: 50px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

 }

 /* Landing Page */

 .title{
    color: white !important;
 }
 .text{
    color: white !important;
 }
 .heroColSection{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 70px 0px 70px !important;
    margin: 70px 0px 70px 0px !important;
 }
 .colSection{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 70px 0px 70px !important;
    margin: 20px 0px 20px 0px !important;
 }

 .rowSection{
    width: 100%;
}

.rowSection2{
    width: 100%;
}

 @media only screen and (max-width: 600px){
    .colSection{
        padding: 0px 20px 0px 20px !important;
        margin: 0px 0px 0px 0px !important;
    }

    .heroColSection{
        padding: 0px 20px 0px 20px !important;
        margin: 20px 0px 20px 0px !important;
        height: 100vh;
    }
    .rowSection{
        flex-direction: column-reverse !important;
        margin-top: 70px;
    }
    .rowSection2{
        margin-top: 70px;
    }
    .heroCTA{
        display: flex; 
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
 }

 .heroCTA{
    margin-top: 20px;
 }

 .ctaButtons{
    margin-right: 10px;
 }



 /* Landing Page Nav */

 
